* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  background-color: #dcdcdc;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  color: green;
  text-align: center;
  margin: 10px 0;
}

aside {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: ghostwhite;
  border-radius: 10px;
}

section {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: ghostwhite;
  border-radius: 10px;
  min-height: 87vmin;
}

footer {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 0;
}

aside div {
  height: 50px;
  margin: 7px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
aside div a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

aside div a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.cep {
  background-color: #ff6347;
}
.fatorial {
  background-color: #ffa500;
}
.fibonacci_normal {
  background-color: #eedd82;
}
.fibonacci_pares {
  background-color: #9acd32;
}
.inversao_de_string {
  background-color: #87ceeb;
}
.palindromo {
  background-color: #6495ed;
}
.vogais {
  background-color: #9370db;
}

.exercicios {
  padding-top: 20px;
  padding-left: 20px;
  display: none;
}
.exercicios.ativo {
  display: block;
}

input {
  margin-top: 5px;
  width: 250px;
  height: 25px;
  border: solid #dcdcdc 3px;
  border-radius: 10px;
  outline: none;
  padding-left: 7px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btn {
  font-weight: bold;
  background-color: #00ffff;
  width: 80px;
  height: 31px;
  border: solid #dcdcdc 3px;
}
#btn:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
  border: solid black 3px;
}

.exercicios h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.result p {
  font-size: 0.9rem;
  padding-top: 3px;
  font-weight: normal;
}
